 <app-navbar></app-navbar>
 <section class="section-top">
    <div class="top-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_two_text">
                        <h3 class="title">BEST TRAVEL AGENCY</h3>
                        <h1 class="slider-sttle">EXPLORE</h1>
                        <h2 class="slider-pararp">The world with us!</h2>
                        <h4 class="slider-pararp">Find awesome flights, hotel, tour, car and packages</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>
 <section id="about_two_area" class="section_padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="about_two_left">
                    <div class="about_two_left_top">
                        <h5>About us</h5>
                        <h2>Discover your all the destinations with us!</h2>
                        <p>
                            Sint est eu sit ipsum enim amet esse sunt incididunt. Occaecat aliquip commodo ipsum
                            officia
                            in Lorem commodo aliquip dolore. Nisi domip excepteur commodo ea nostrud mollit.
                        </p>
                    </div>
                    <div class="about_two_left_middel">
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/images/about-1.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Experienced tour guide</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/images/about-2.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Affordable tour packages</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                        <div class="about_two_item">
                            <div class="about_two_item_icon">
                                <img src="assets/images/about-3.png" alt="icon">
                            </div>
                            <div class="about_two_item_text">
                                <h3>Explore top places over the world</h3>
                                <p>Dolore ullamco voluptate duis est voluptate exercitation officia ad qui nostrud
                                    adipisicing non.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="about_two_left_img">
                    <img src="assets/images/about_two.png" alt="img">
                </div>
            </div>
        </div>

    </div>
</section>
 <section id="partner_area" class="section_padding_top">
    <div class="container">
        <div class="partner_area_bg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="partner_area_left">
                        <h5>Find your best travel partner</h5>
                        <h2>Prepare yourself and let’s enjoy
                            the beauty of the world</h2>
                        <p>Sint est eu sit ipsum enim amet esse sunt incididunt. Occaecat aliquip commodo ipsum
                            officia in Lorem commodo aliquip dolore. Nisi domip excepteur commodo ea nostrud mollit.
                        </p>
                        <div class="partner_video_area">
                            <a class="video_btn video_play_area" href="https://www.youtube.com/watch?v=_2LLXnUdUIc" title="Youtube Video"><i class="fas fa-play"></i></a>
                        </div>
                        <div class="local_counter_area">
                            <div class="local_counter_box">
                                <h2>12K</h2>
                                <h5>Local guides</h5>
                            </div>
                            <div class="local_counter_box">
                                <h2>750+</h2>
                                <h5>Destinations</h5>
                            </div>
                            <div class="local_counter_box">
                                <h2>100%</h2>
                                <h5>Happiness</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="width_offer_area" class="section_padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="width_offer_item">
                    <div class="width_offer_icon">
                        <img src="assets/images/plan.png" alt="icon">
                    </div>
                    <div class="width_offer_text">
                        <h3>550+ destinations</h3>
                        <p>Nostrud aliqua ipsum dolore velit labore nulla
                            fugiat nulla irure nostrud.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="width_offer_item">
                    <div class="width_offer_icon">
                        <img src="assets/images/location.png" alt="icon">
                    </div>
                    <div class="width_offer_text">
                        <h3>Best price guarantee</h3>
                        <p>Nostrud aliqua ipsum dolore velit labore nulla
                            fugiat nulla irure nostrud.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="width_offer_item">
                    <div class="width_offer_icon">
                        <img src="assets/images/suport.png" alt="icon">
                    </div>
                    <div class="width_offer_text">
                        <h3>Top quality customer support</h3>
                        <p>Nostrud aliqua ipsum dolore velit labore nulla
                            fugiat nulla irure nostrud.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>